body {
  background: linear-gradient(117.14deg, #0265b1 42.25%, #7b358c 72%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50vw;
  background-color: transparent;
  > img {
    aspect-ratio: 1/1;
    height: 20vw;
  }
  > h1 {
    font-size: 12vw;
    animation: changeFont 20s forwards infinite;
    color: white;
    position: relative;
  }
}
@keyframes changeFont {
  0% {
    font-family: "Arial", sans-serif;
  }
  10% {
    font-family: "Bebas Neue", sans-serif;
  }
  20% {
    font-family: "Butterfly Kids", sans-serif;
  }
  30% {
    font-family: "Dancing Script", sans-serif;
  }
  40% {
    font-family: "Pacifico", sans-serif;
  }
  50% {
    font-family: "Playfair Display", sans-serif;
  }
  60% {
    font-family: "Rubik Scribble", sans-serif;
  }
  70% {
    font-family: "Tac One", sans-serif;
  }
  80% {
    font-family: "Workbench", sans-serif;
  }
  90% {
    font-family: "Times New Roman", Times, serif;
  }
}
